.left-menu {
    margin-top: 82px;
    left: 0px;
    width: 215px;
    height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 1px 3px #0000000F;
    opacity: 1;
    color: #000 !important
    /* position: relative; */
}
.pd-l{
   
    padding: 2%;
    border-bottom: 1px solid #ccc;
}

.left-menu i {
    width: 30px;
    margin: 1px 8px 1px 0px;
    font-size: 20px;
    font-family: "Source Sans Pro";
    color: #000 !important
}

.group-list {
    padding: 0.5rem 0rem !important;
   
    font-size: 18px;
    font-family: "Source Sans Pro";
    text-decoration: none;
    width: 200px;
    
}

.left-menu a {
  
    font-size: 18px;
    font-family: "Source Sans Pro";
    text-decoration: none;
    color: black !important;
    
    
}

.navbar a:focus,
.navbar a.active {
    color: #2D5986 !important;
}
.card-style{
  width: 100% !important;
  border: none !important;
    margin-top: 120px;
    background: #252525 0% 0% no-repeat padding-box;
border-radius: 8px 0px 0px 8px;
opacity: 1;
color: #fff;
font-family: Source Sans Pro;
}
.card-clr{
    background-color: black !important;
   
}
.img-greeting{
background: transparent linear-gradient(181deg, #0c040433 0%, #25252533 100%) 0% 0% no-repeat padding-box ;
font-family: Source Sans Pro;
border-radius: 0px 8px 8px 0px;
opacity: 0.6;
margin-top: 120px !important;
color: #fff;
clear: both;
text-align: center;
padding-top: 10px;
}

.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-left:  0px !important;
    padding-right:  0px !important;
}
.row>* {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-left:  0px !important;
    padding-right:  0px !important;

}
.div-ht{
    height: 212px !important;
    margin-top: 200px;
    clear: both;
}