*{
    margin: 0;
    padding: 0;
}
/* NavBar */
nav.navbar.navbar-expand.navbar-light {
    box-shadow: 0 1px #00000029;
    margin: 0 0 0 -2px;
}
a.link {
    color: #0d6efd !important;
}
/* NavBar */